/*body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

#myButton{
  font-size: 3em;
  padding: 5px 25px;
  border-radius: 2px;
}

.myLabels{
  font-size: 3em;
} THE 4.5TH ONE */

/*body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(200, 196, 196);
}

h1{
  color: rgb(59, 13, 82);
}

form{
  background-color: rgb(196, 154, 217);
  text-align: center;
  max-width: 360px;
  margin: auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgb(135, 103, 152);
}

#textBox{
  width: 50%;
  text-align: center;
  font-size: 2em;
  border: 2px solid rgba(84, 54, 105, 0.736);
  border-radius: 4px;
  margin-bottom: 15px;
}

label{
  font-size: 1.5em;
  font-weight: bold;
}

button{
  margin-top: 15px;
  background-color: rgb(71, 23, 117);
  color: white;
  font-size: 1.5em;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover{
  background-color: rgb(46, 14, 77);
}

#result{
  font-size: 1.75em;
  font-weight: bold;
} THE TEMP CONVERTOR */