/*body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

#myButton{
  font-size: 3em;
  padding: 5px 25px;
  border-radius: 2px;
}

.myLabels{
  font-size: 3em;
} THE 4.5TH ONE */

/*body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(200, 196, 196);
}

h1{
  color: rgb(59, 13, 82);
}

form{
  background-color: rgb(196, 154, 217);
  text-align: center;
  max-width: 360px;
  margin: auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgb(135, 103, 152);
}

#textBox{
  width: 50%;
  text-align: center;
  font-size: 2em;
  border: 2px solid rgba(84, 54, 105, 0.736);
  border-radius: 4px;
  margin-bottom: 15px;
}

label{
  font-size: 1.5em;
  font-weight: bold;
}

button{
  margin-top: 15px;
  background-color: rgb(71, 23, 117);
  color: white;
  font-size: 1.5em;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover{
  background-color: rgb(46, 14, 77);
}

#result{
  font-size: 1.75em;
  font-weight: bold;
} THE TEMP CONVERTOR */

/*body{
  background-color: rgb(195, 224, 195);
}

#container{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
button{
  font-size: 1.5rem;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  background-color: rgb(141, 196, 141);
  color: green;
  font-weight: bold;
  cursor: pointer;
}

button:hover{
  background-color: rgb(91, 137, 91);
}

button:active{
  background-color: rgb(17, 49, 17);
  color: white;
}

input{
  font-size: 2rem;
  width: 150px;
  text-align: center;
  font-weight: bold;
}

#diceResult{
  margin: 25px;
}

#diceImages img{
  width: 150px;
  margin: 5px;
}
   THE 11TH ONE WITH A DICE GAME*/

   /*body{
    margin: 0;
    background-image: url(background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   }

  #clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 2px solid;
  }

  #clock {
    font-family: monospace;
    font-size: 6.5rem; 
    font-weight: bold;
    text-align: center;
    color: rgb(105, 9, 215);
    background-color: rgba(229, 148, 239, 0.834);
    backdrop-filter: blur(1px);
    padding: 20px 40px;
    border-radius: 6px;
    border: 3px solid rgb(105, 9, 215);
    text-shadow: 
        0 0 5px #9d4dff,
        0 0 10px #9d4dff,
        0 0 20px #bf7fff,
        0 0 40px #bf7fff;
    box-shadow: 
        0 0 10px #9d4dff,
        0 0 20px #bf7fff,
        0 0 30px #bf7fff;
    width: 100%;
  }
   THE 14TH LESSON*/

   /*body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(ow.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    overflow: hidden;
   }

   #myH1 {
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(244, 157, 27);
    border: 3px solid rgba(61, 70, 75);
    background-color: rgba(61, 70, 75, 0.8);
    padding: 30px;
    border-radius: 50px;
   }

   #container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    border: 3px solid rgba(61, 70, 75);
    border-radius: 50px;
    padding: 30px;
    background-color: rgba(61, 70, 75, 0.7);
    text-align: center;
    width: fit-content;      
    max-width: 90%;    
    height: auto;    
   }

   #display{
    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: semi-bold;
    color: rgb(244, 157, 27);
    text-shadow: 2px 2px 2px rgba(61, 70, 75, 0.7);
    margin-bottom: 25px;
   }

   #controls button{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: rgba(61, 70, 75);
    transform: background-color 0.7s ease;
   }

   #startBtn {
    background-color: rgb(102, 155, 11);
   }

   #startBtn:hover {
    background-color: rgb(83, 125, 10);
   }

   #stopBtn {
    background-color:rgb(205, 81, 36);
   }

   #stopBtn:hover {
    background-color: rgb(159, 62, 26);
   }

   #resetBtn {
    background-color: rgb(244, 157, 27);
   }

   #resetBtn:hover {
    background-color: rgb(192, 121, 14);
   } THE 15TH WITH STOPWATCH PROGRAM*/
  body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
     background-color: rgb(195, 205, 220);
  }

  #calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(144, 174, 216);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
  }

  #display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(95, 113, 137);
    color: white;
  }

   #keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
   } 

   button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(70, 66, 66);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
   }

   button:hover{
    background-color: rgb(95, 102, 109);
   }

   button:active{
    background-color: rgb(75, 95, 114);
   }

   .operator-btn{
    background-color: rgb(42, 85, 138);
   }
   
   .operator-btn:hover{
    background-color: rgb(76, 113, 158);
   }

  .operator-btn:active{
    background-color: rgb(15, 63, 122);
   }


