/*body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

#myButton{
  font-size: 3em;
  padding: 5px 25px;
  border-radius: 2px;
}

.myLabels{
  font-size: 3em;
} THE 4.5TH ONE */